<% if cabinets.any? %>
  <ul class="list-unstyled mt-2">
    <% cabinets.each do |cabinet| %>
      <li class="d-flex">
        <img class="rounded me-2 mb-5" src="<%= gravatar_url(cabinet.user, { size: 64 }) %>" alt="">
        <div>
          <div>
            <%= link_to cabinet.user.name, user_path(cabinet.user), class: "text-decoration-none" %> <span class="text-muted">posted at <%= cabinet.created_at %></span>
          </div>
          <!--<div>-->
            <h1>〇〇内閣 閣僚名簿</h1>
          <!--</div>-->
          <table class="table">
            <tr>
              <th>職名</th>
              <th>氏名</th>
            </tr>
            <tr>
              <td>内閣総理大臣</td>
              <td><%= prime_minister_name %></td>
            </tr>
            <tr>
              <td>内閣官房長官</td>
              <td><%= chief_cabinet_secretary_name %></td>
            </tr>
            <tr>
              <td>財務大臣</td>
              <td><%= finance_minister_name %></td>
            </tr>
            <tr>
              <td>総務大臣</td>
              <td><%= comprehensive_minister_name %></td>
            </tr>
            <tr>
              <td>経済産業大臣</td>
              <td><%= economy_minister_name %></td>
            </tr>
            <tr>
              <td>厚生労働大臣</td>
              <td><%= welfare_minister_name %></td>
            </tr>
            <tr>
              <td>文部科学大臣</td>
              <td><%= education_minister_name %></td>
            </tr>
            <tr>
              <td>外務大臣</td>
              <td><%= diplomacy_minister_name %></td>
            </tr>
            <tr>
              <td>防衛大臣</td>
              <td><%= defense_minister_name %></td>
            </tr>
            <tr>
              <td>農林水産大臣</td>
              <td><%= agriculture_minister_name %></td>
            </tr>
            <tr>
              <td>国土交通大臣</td>
              <td><%= traffic_minister_name %></td>
            </tr>
            <tr>
              <td>法務大臣</td>
              <td><%= law_minister_name %></td>
            </tr>
            <tr>
              <td>環境大臣</td>
              <td><%= green_minister_name %></td>
            </tr>
            <tr>
              <td>デジタル大臣</td>
              <td><%= digital_minister_name %></td>
            </tr>
            <tr>
              <td>復興大臣</td>
              <td><%= reconstruction_minister_name %></td>
            </tr>
            <tr>
              <td>国家公安委員長</td>
              <td><%= public_security_minister_name %></td>
            </tr>
          </table>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>