<%= form_with(model: cabinet) do |f| %>
  <% if cabinet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cabinet.errors.count, "組閣できませんでした") %></h2>

      <ul>
        <% cabinet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p class="text-center">タイトル</p>
  <h2 class="text-center"><%= f.text_field :title_cabinet %>内閣</h2>
  
  <table class="table">
    <tr>
      <th>職名</th>
      <th>氏名</th>
    </tr>
    <tr>
      <th><%= f.label :prime_minister_name, "内閣総理大臣" %></th>
      <th><%= f.text_field :prime_minister_name %></th>
    </tr>
    <tr>
      <th><%= f.label :chief_cabinet_secretary_name, "内閣官房長官" %></th>
      <th><%= f.text_field :chief_cabinet_secretary_name %></th>
    </tr>
    <tr>
      <th><%= f.label :finance_minister_name, "財務大臣" %></th>
      <th><%= f.text_field :finance_minister_name %></th>
    </tr>
    <tr>
      <th><%= f.label :comprehensive_minister_name, "総務大臣" %></th>
      <th><%= f.text_field :comprehensive_minister_name %></th>
    </tr>
    <tr>
      <th><%= f.label :economy_minister_name, "経済産業大臣" %></th>
      <th><%= f.text_field :economy_minister_name %></th>
    </tr>
    <tr>
      <th><%= f.label :welfare_minister_name, "厚生労働大臣" %></th>
      <th><%= f.text_field :welfare_minister_name %></th>
    </tr>
    <tr>
      <th><%= f.label :education_minister_name, "文部科学大臣" %></th>
      <th><%= f.text_field :education_minister_name %></th>
    </tr>
    <tr>
      <th><%= f.label :diplomacy_minister_name, "外務大臣" %></th>
      <th><%= f.text_field :diplomacy_minister_name %></th>
    </tr>
    <tr>
      <th><%= f.label :defense_minister_name, "防衛大臣" %></th>
      <th><%= f.text_field :defense_minister_name %></th>
    </tr>
    <tr>
      <th><%= f.label :agriculture_minister_name, "農林水産大臣" %></th>
      <th><%= f.text_field :agriculture_minister_name %></th>
    </tr>
    <tr>
      <th><%= f.label :traffic_minister_name, "国土交通大臣" %></th>
      <th><%= f.text_field :traffic_minister_name %></th>
    </tr>
    <tr>
      <th><%= f.label :law_minister_name, "法務大臣" %></th>
      <th><%= f.text_field :law_minister_name %></th>
    </tr>
    <tr>
      <th><%= f.label :green_minister_name, "環境大臣" %></th>
      <th><%= f.text_field :green_minister_name %></th>
    </tr>
    <tr>
      <th><%= f.label :digital_minister_name, "デジタル大臣" %></th>
      <th><%= f.text_field :digital_minister_name %></th>
    </tr>
    <tr>
      <th><%= f.label :reconstruction_minister_name, "復興大臣" %></th>
      <th><%= f.text_field :reconstruction_minister_name %></th>
    </tr>
    <tr>
      <th><%= f.label :public_security_minister_name, "国家公安委員長" %></th>
      <th><%= f.text_field :public_security_minister_name %></th>
    </tr>
  </table>
  
  <%= f.submit "組閣" %>
<% end %>